.chat_content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chatheader {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 15px 0 15px;
  height: 50px;
  background-color: #fff;

  justify-content: space-between;
}

.chatheaderleft {
  display: flex;
  align-items: center;
}
.chatheader_title {
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  color: #000;
}

.chat_headericon {
  cursor: pointer;
  align-items: flex-start;

  border-radius: 3px;
  color: #2a2e34;

  margin: 0px 2px 0px 0px;
  padding: 0px;
  text-align: center;
  background-color: transparent;
  border: none;
  display: none;
  margin-right: 7px;
}

.chat_headericon:hover,
.chat_headericon:focus {
  background-color: #f6f7f9;
  fill: #ff00fc;
}

.chatheader_iconcnt {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chatmoreicon {
  cursor: pointer;
  align-items: flex-start;

  border-radius: 3px;
  color: #2a2e34;

  text-align: center;
  background-color: transparent;
  border: none;
}

.chatmoreicon:hover,
.chatmoreicon:focus {
  background-color: #f6f7f9;
  fill: #ff00fc;
}

.chat-search {
  border: 1px solid #9a9fbf6c;
  /* border-bottom: 0.5px solid #0184fb; */
  margin: 0px 15px 15px 15px;
  height: 45px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 8px;
}

.chat-searchicon {
  cursor: pointer;
  margin-top: 3px;
}

.chat-searchinput {
  width: 100%;
  font-family: inherit;
  font-size: 11px;
  border: none;
  outline: none;
}

.chat-searchinput::placeholder {
  color: #9a9fbf;
}

.chat-wrapper {
  padding: 0px 10px;
  flex: 1;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.chat-wrapperitems {
  display: grid;
  gap: 5px;
  width: 100%;
}

.chatpeoplecard {
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
}
.chatpeoplecard:hover,
.chatpeoplecard:focus {
  background-color: #f6f7f9;
}
.chatpeoplecardimage {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.chatpeoplecardright {
  display: grid;
  gap: 5px;
  width: 100%;
}

.chatpeoplecardrighttop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cpcrleft p {
  font-weight: 600;
  font-size: 11px;
  width: 200px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cpcright p {
  font-size: 10px;
  font-weight: 400;
  color: #000;
  white-space: nowrap;
}

.chatpeoplecardrightbottom {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cpcbleftmessage {
  font-size: 11px;
  color: #000;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1440px) {
  .chat_content {
    flex: 1.5;
  }
}

@media screen and (max-width: 1080px) {
  .chat_content {
    flex: 1.5;
  }
  .chat_headericon {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .cpcbleftmessage {
    width: 200px;
  }

  .chatpeoplecardrightbottom {
    gap: 5px;
  }
}

@media screen and (max-width: 450px) {
  .chat-wrapper {
    padding: 0px 5px;
  }
  .chatpeoplecard {
    padding: 10px 5px;
  }
  .chatheader {
    padding: 0px 10px 0 10px;
  }
  .chat-search {
    margin: 0px 10px 15px 10px;
  }
}

@media screen and (max-width: 320px) {
  .cpcbleftmessage {
    width: 100px;
  }
  .cpcrleft p {
    width: 100px;
  }
  .chatpeoplecard {
    padding: 10px 10px;
  }
}
